{
    "presets": ["next/babel", "@babel/flow"],
    "plugins": ["transform-flow-strip-types", 	[
        "babel-plugin-styled-components",
        {
            "ssr": true,
            "minify": true,
            "transpileTemplateLiterals": true,
            "pure": true,
            "displayName": true,
            "preprocess": false
        }
    ]]
}